<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div id="root">
        <!--Render code React-js-->
        </div>

                <!-- Cargar React. -->
                <!-- Nota: cuando se despliegue, reemplazar "development.js" con "production.min.js". -->
                <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
                <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
                <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
                <!-- Cargamos nuestro componente de React. -->
        <script type="text/babel">
            // nota cada codigo que veas documentado de aca para abajo
            // seran diferentes formas de realizarlo con jsx los coloco para
            // que podamos probar y mirar diferentes formas de como podriamos realizarlos
            // los 12 ejercicios

            // 0. guardado de datos simple
            const ColoredLine = ({ color }) => (
                <hr
                    style={{
                        color: color,
                        backgroundColor: color,
                        height: 1
                    }}
                />
            );

            const text = {
            title1: "Tu concierto",
            title2: "Bievenido a este blog de conciertos",
            }
            const element = (
            <div>
              <h1>{text.title1}</h1>
              <h4>{text.title2}</h4>
              <img src="concierto.png" alt="BigCo Inc. logo"/>
            </div>
            );
            // Renderiamos o pintamos
            ReactDOM.render(
            element,// estructura jsx para pintar
            document.getElementById('root')// elemento donde se pintara
            );
        </script>
  </body>
</html>