<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div id="root">
        <!--Render code React-js-->
        </div>

                <!-- Cargar React. -->
                <!-- Nota: cuando se despliegue, reemplazar "development.js" con "production.min.js". -->
                <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
                <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
                <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
                <!-- Cargamos nuestro componente de React. -->
        <script type="text/babel">
            // nota cada codigo que veas documentado de aca para abajo
            // seran diferentes formas de realizarlo con jsx los coloco para
            // que podamos probar y mirar diferentes formas de como podriamos realizarlos
            // los 12 ejercicios

            // 0. guardado de datos simple
            const ColoredLine = ({ color }) => (
                <hr
                    style={{
                        color: color,
                        backgroundColor: color,
                        height: 1
                    }}
                />
            );
            const mystyle = {
              color: "white",
              backgroundColor: "DodgerBlue",
              padding: "10px",
              fontFamily: "Arial",
              border_color:"black",
            };

            const text = {
            title1: "Cartelera de vuelos",
            title2: "Llegadas",
            title3: "Salidas",
            title4: "Aerolinea",
            title5: "nro vuelo",
            title6: "Estatus",
            title7: "Hora estimado",
            title8: "puerta",
            }
            const element = (
            <div>
              <h1>{text.title1}</h1>
              <h4>{text.title2}</h4>
              <table style={mystyle}>
                <tr>
                  <th>{text.title4}</th>
                  <th>{text.title5}</th>
                  <th>{text.title6}</th>
                  <th>{text.title7}</th>
                  <th>{text.title8}</th>
                </tr>
                <tr>
                  <td>Airlan</td>
                  <td>355</td>
                  <td>Aterrizo</td>
                  <td>Hora estimada</td>
                  <td>puerta</td>
                </tr>
                <tr>
                  <td>Viajar</td>
                  <td>556</td>
                  <td>Retardado</td>
                  <td>245</td>
                  <td>2</td>
                </tr>
             </table>
              <h4>{text.title3}</h4>
              <table style={mystyle}>
                <tr>
                  <th>{text.title4}</th>
                  <th>{text.title5}</th>
                  <th>{text.title6}</th>
                  <th>{text.title7}</th>
                  <th>{text.title8}</th>
                </tr>
                <tr>
                  <td>Airlan</td>
                  <td>355</td>
                  <td>Aterrizo</td>
                  <td>Hora estimada</td>
                  <td>puerta</td>
                </tr>
                <tr>
                  <td>Viajar</td>
                  <td>556</td>
                  <td>Retardado</td>
                  <td>245</td>
                  <td>2</td>
                </tr>
             </table>
              
            </div>
            );
            // Renderiamos o pintamos
            ReactDOM.render(
            element,// estructura jsx para pintar
            document.getElementById('root')// elemento donde se pintara
            );
        </script>
  </body>
</html>