<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div id="root">
        <!--Render code React-js-->
        </div>

                <!-- Cargar React. -->
                <!-- Nota: cuando se despliegue, reemplazar "development.js" con "production.min.js". -->
                <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
                <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
                <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
                <!-- Cargamos nuestro componente de React. -->
        <script type="text/babel">
            // nota cada codigo que veas documentado de aca para abajo
            // seran diferentes formas de realizarlo con jsx los coloco para
            // que podamos probar y mirar diferentes formas de como podriamos realizarlos
            // los 12 ejercicios

            // 0. guardado de datos simple
            const ColoredLine = ({ color }) => (
                <hr
                    style={{
                        color: color,
                        backgroundColor: color,
                        height: 1
                    }}
                />
            );

            const text = {
            title1: "Destinos turisticos",
            title2: "America",
            title3: "Argentina",
            title4: "Brazil",
            title5: "Chile",
            title6: "Colombia",
            title6: "Estados unidos",
            title6: "Mexico",
            title6: "Peru",
            title6: "Venezuela",
            }

            const ciudades = {
               city1: "Buenos aires",
               city2: "bariloche",
               city3: "rio de janeiro",
               city4: "brasilia",
               city5: "Santiago",
               city6: "Valparaiso",
               city7: "Bogota",
               city8: "Cartagena de indias",
               city9: "New York",
               city10: "San francisco",
               city11: "Cancun",
               city12: "Acapulco",
               city13: "Lima",
               city14: "cuzco",
               city15: "Margarita",
               city16: "Merida",
             
            }
            const element = (
            <div>
              <h1>{text.title1}</h1>
              <h2>{text.title2}</h2>
              <ol>
                <li>{text.title3}</li>
                <ol>
                  <li>{ciudades.city1}</li>
                  <li>{ciudades.city2}</li>
                </ol>
                <li>{text.title4}</li>
                <ol>
                  <li>{ciudades.city3}</li>
                  <li>{ciudades.city4}</li>
                </ol>
                <li>{text.title5}</li>
                <ol>
                  <li>{ciudades.city6}</li>
                  <li>{ciudades.city7}</li>
                </ol>
                <li>{text.title6}</li>
                <ol>
                  <li>{ciudades.city7}</li>
                  <li>{ciudades.city8}</li>
                </ol>
              </ol>

            </div>
            );
            // Renderiamos o pintamos
            ReactDOM.render(
            element,// estructura jsx para pintar
            document.getElementById('root')// elemento donde se pintara
            );
        </script>
  </body>
</html>