<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div id="root">
        <!--Render code React-js-->
        </div>

                <!-- Cargar React. -->
                <!-- Nota: cuando se despliegue, reemplazar "development.js" con "production.min.js". -->
                <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
                <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
                <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
                <!-- Cargamos nuestro componente de React. -->
        <script type="text/babel">
            // nota cada codigo que veas documentado de aca para abajo
            // seran diferentes formas de realizarlo con jsx los coloco para
            // que podamos probar y mirar diferentes formas de como podriamos realizarlos
            // los 12 ejercicios

            // 0. guardado de datos simple
            const ColoredLine = ({ color }) => (
                <hr
                    style={{
                        color: color,
                        backgroundColor: color,
                        height: 1
                    }}
                />
            );

            const text = {
            title1: "El Noticiero Next University",
            title2: "Programas de Tecnología",
            title3: "Desarrollador Web",
            title4: "Android",
            title5: "Programa de Negocio",
            title6: "Mercadeo Digital",
            
            }

            const enlaces = {
                parrafo1: "Next University lanza su programa de formación 'Desarrollador Web' con la finalidad de capacitar a personas en las tendencias actuales sobre tecnologias, en el caso de desarrollo web, se basa temas relacionados a la implementación de Front-End con tecnologías y Frameworks, tales como: H7ML5,CSS. JamaScript, Boostrap, entre otros.",
                parrafo2: "En Next University te ofrecemos el programa Android que te da las herramientas necesarias para diseñar e implementar aplicaciones Android para dispositivos móviles, partiendo de un conocimiento básico de Java, utilizando el entorno de desarrollo 4ndroid Stuciio. Aprenderás los aspectos fundamentales para crear aplicaciones Android. interactivas, dinámicas y exitosas utilizando técnicas para el manejo de los recursos, datos, segundos planos. localización. sensores, animaciones, gráficos, multimedia y monetización.",
                parrafo3: "Digital Marketing es mucho más que hacer y publicar anuncios. Se trata del consumidor y la estrategia de negocio. Estos son los puntos de partida para que cualquier acción de mercadeo digital sea exitosa y optimice la inversión. Este certificado, es un programa completo y práctico, que permite entender al consumidor, la industria, la competencia y los retos del negocio propio: para crear e implementar estrategias a la medida, en diferentes plataformas y medios digitales. Por supuesto, monitoreando los resultados para tomar decisiones en tiempo real",
             
            }
            const vinetas = {
                vin1:"charkes",
                vin2:"low",
                vin3:"tim",
            }


            const element = (
            <div>
              <h1>{text.title1}</h1>
              <h2>{text.title2}</h2>
              <h3>{text.title3}</h3>
              <p>{enlaces.parrafo1}</p>
              <h2>{text.title4}</h2>
              <p>{enlaces.parrafo2}</p>
              <h1>{text.title5}</h1>
              <h2>{text.title6}</h2>
              <p>{enlaces.parrafo3}</p>

            </div>
            );
            // Renderiamos o pintamos
            ReactDOM.render(
            element,// estructura jsx para pintar
            document.getElementById('root')// elemento donde se pintara
            );
        </script>
  </body>
</html>