<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
        <div id="root">
        <!--Render code React-js-->
        </div>

                <!-- Cargar React. -->
                <!-- Nota: cuando se despliegue, reemplazar "development.js" con "production.min.js". -->
                <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
                <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
                <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
                <!-- Cargamos nuestro componente de React. -->
        <script type="text/babel">
            // nota cada codigo que veas documentado de aca para abajo
            // seran diferentes formas de realizarlo con jsx los coloco para
            // que podamos probar y mirar diferentes formas de como podriamos realizarlos
            // los 12 ejercicios

            // 0. guardado de datos simple
            const ColoredLine = ({ color }) => (
                <hr
                    style={{
                        color: color,
                        backgroundColor: color,
                        height: 1
                    }}
                />
            );

            const text = {
            nombre: "Juan David",
            universidad:"Universidad de manizales",
            title1: "Enlaces favoritos",
            title2: "Paginas personales",
            title3: "Paginas Referencia",
            title4: "Portales",
            title5: "Publicaciones",
            
            }

            const enlaces = {
                enlace1: "Documentalistas",
                enlace2: "Hsitoriadores",
                enlace3: "Linguisticos",
                enlace4: "Traductores",
                enlace5: "Paginas personales",
                enlace6: "Paginas de referencia",
                enlace7: "Portales",
                enlace8: "Publicaciones",
                enlace9: "Bibliotecas",
                enlace10: "Documentacion",
                enlace11: "Contemporaneo",
                enlace12: "Comunicaciones",
                enlace13: "Inicia",
                enlace14: "Teleposis",
                enlace15: "Ciudades",
                enlace16: "Tierra",
                enlace17: "Ciber",
                enlace18: "diario",
                enlace19: "Inforworld",
             
            }
            const vinetas = {
                vin1:"charkes",
                vin2:"low",
                vin3:"tim",
            }


            const element = (
            <div>
                <h1>Pagina inicial de {text.Nombre}</h1>
                <p>Bienvenido a mi pagina personal. Soy un alumno de la {text.universidad} y esta es mi pagina inicial con la lista de mis enlaces favoritos</p>
                <h3>{text.title1}</h3>
                  <p>1 {enlaces.enlace5}</p>
                  <p>2 {enlaces.enlace6} </p>
                  <p>3 {enlaces.enlace7} </p>
                  <p>4 {enlaces.enlace8} </p>
                  <p>{text.nombre}  {text.universidad} 2021</p>
                <ColoredLine color="black" />
                  <h3>{text.title2}</h3>
                  <p>1 {enlaces.enlace1}</p>
                  <ul> 
                    <li>{vinetas.vin1}</li>
                    <li>{vinetas.vin2}</li>
                    <li>{vinetas.vin3}</li>
                  </ul>
                  <p>2 {enlaces.enlace2} </p>
                  <p>3 {enlaces.enlace3} </p>
                  <p>4 {enlaces.enlace4} </p>
                  <p>{text.nombre}  {text.universidad} 2021</p>
                <ColoredLine color="black" />
                  <h3>{text.title3}</h3>
                  <p>1 {enlaces.enlace9}</p>
                  <p>2 {enlaces.enlace10} </p>
                  <p>3 {enlaces.enlace11} </p>
                  <p>4 {enlaces.enlace12} </p>
                <ColoredLine color="black" />
                  <h3>{text.title4}</h3>
                    <p>1 {enlaces.enlace13}</p>
                    <p>2 {enlaces.enlace14} </p>
                    <p>3 {enlaces.enlace15} </p>
                    <p>4 {enlaces.enlace16} </p>
                <ColoredLine color="black" />
                  <h3>{text.title5}</h3>
                    <p>1 {enlaces.enlace17}</p>
                    <p>2 {enlaces.enlace18} </p>
                    <p>3 {enlaces.enlace19} </p>
                    <p>4 {enlaces.enlace12} </p>
                  
            </div>
            );
            // Renderiamos o pintamos
            ReactDOM.render(
            element,// estructura jsx para pintar
            document.getElementById('root')// elemento donde se pintara
            );
        </script>
  </body>
</html>